@model IEnumerable<ePRJ.Models.Vehicle>

@{
    ViewBag.Title = "Car";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>List of Car</h2>
@section body{
<p>
    @Html.ActionLink("Create New", "CreateCar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vehicle_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vehicle_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vehicle_brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vehicle_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vehicle_stock)
        </th>
        <th>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vehicle_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vehicle_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vehicle_brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vehicle_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vehicle_stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditCar", new {  id=item.vehicle_id }) |
            @Html.ActionLink("Details", "CarDetails", new {  id=item.vehicle_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.vehicle_id, },htmlAttributes: new {@onclick = "return confirm(\"Do you want to delete?\")" })
        </td>
    </tr>
}

</table>
    }
@section scripts {
   @if (ViewBag.Message != null)
   {
       <script>
           alert("@ViewBag.Message");
       </script>
   }
    }