<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/admin")
</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Admin Dashboard</div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Index","Admin")" class="list-group-item list-group-item-action bg-light">Homepage</a>
                <a href="@Url.Action("Car","Admin")" class="list-group-item list-group-item-action bg-light">Car List</a>
                <a href="@Url.Action("Feedbac","Admin")" class="list-group-item list-group-item-action bg-light">Feedbacks</a>
            </div>
        </div>
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="">Welcome </a>
                        </li>
                        <li class="nav-item">
                            <a class='nav-link' href='@Url.Action("LogOut","Admin")'>Log Out</a>
                        </li>

                    </ul>
                </div>
            </nav>

            <div class="container">
                <div class='card text-white bg-dark mb-3'>
                    @RenderBody()
                </div>
                @RenderSection("body", false)

            </div>
        </div>
    </div>
</body>
</html>
